{{ define "main" }}
{{ $site := .Site }}
  <section>
    <div class="container max-w-3xl">
      <h1 class="mb-3">{{ .Title }}</h1>
      
      <div class="mb-3">
        {{ $dateTime := .PublishDate.Format "2006-01-02" }}
        {{ $dateFormat := .Site.Params.dateFormat | default "Jan 2, 2006" }}
        <div class="text-sm">
          Published on <time datetime="{{ $dateTime }}" class="text-sm">{{ .PublishDate.Format $dateFormat }}</time>
        </div>
      </div>

      {{ with .Params.tags }}
        <ul class="flex flex-wrap justify-start list-none mb-11 -mx-1 pl-0">

          {{ range . }}
          <li class="m-1">
            <a href="{{ printf "%s%s%s" $site.BaseURL $site.Params.tags_url . }}">
              {{ partial "badges/tag.html" . }}
            </a>
          </li>
          {{ end }}

        </ul>
      {{ end }}

      <div class="h-min mb-5 overflow-hidden rounded-2xl">
        {{ with .Resources.GetMatch (.Params.featured_image) }}
          {{ $thumb := .Resize "720x webp" }}
          <img src="{{ $thumb.Permalink }}" class="w-full" alt="{{ .Title }}">
        {{ else }}
          {{ with resources.Get ($site.Params.default_image) }}
            {{ $thumb := .Resize "720x webp" }}
            <img src="{{ $thumb.Permalink }}" class="object-cover w-full" alt="{{ .Title }}">
          {{ end }}
        {{ end }}
      </div>

      <article class="mb-11">
        {{ .Content }}
      </article>

      <div class="mb-11">
        <div class="mb-4">
          <h2 class="font-bold mr-2">Share</h2>
          <ul class="flex flex-wrap items-center list-none -m-2 pl-0">
            <li class="m-2">
              <a href="{{ printf "%s%s%s" "https://www.facebook.com/sharer/sharer.php?u=" .Permalink "?utm_source=facebook&utm_medium=social&utm_campaign=user-share" }}" 
                class="text-slate-900 dark:text-slate-50 hover:text-sky-600 dark:hover:text-sky-500"
                target="_blank"
              >
                <i data-feather="facebook"></i>
              </a>
            </li>
            <li class="m-2">
              <a href="{{ printf "%s%s%s%s" "https://twitter.com/intent/tweet?text=" .Title " " .Permalink "?utm_source=twitter&utm_medium=social&utm_campaign=user-share" }}" 
                class="text-slate-900 dark:text-slate-50 hover:text-sky-600 dark:hover:text-sky-500"
                title="Share to Facebook"
                target="_blank"
              >
                <i data-feather="twitter"></i>
              </a>
            </li>
            <li class="m-2">
              <a href="{{ printf "%s%s%s%s%s" "https://www.linkedin.com/shareArticle?mini=true&url=" .Permalink "&title=" .Title "?utm_source=linkedin&utm_medium=social&utm_campaign=user-share" }}" 
                class="text-slate-900 dark:text-slate-50 hover:text-sky-600 dark:hover:text-sky-500"
                title="Share to LinkedIn"
                target="_blank"
              >
                <i data-feather="linkedin"></i>
              </a>
            </li>
            </li>
            <li class="flex flex-row items-center m-2">
              <input type="text" 
                id="post-link"
                class="hidden"
                value="{{ printf "%s%s" .Permalink "?utm_source=link&utm_medium=link&utm_campaign=user-share" }}" 
              >
              <a href="javascript:;" 
                id="copy-link"
                class="mr-2 text-slate-900 dark:text-slate-50 hover:text-sky-600 dark:hover:text-sky-500"
                title="Copy link"
              >
                <i data-feather="link"></i>
              </a>
              <div>
                <span id="link-copied-notif" class="bg-green-500 hidden p-1 rounded text-sm">Link copied</span>
              </div>
            </li>
          </ul>
        </div>

        {{ if .Site.Params.trakteer }}
          <div class="mb-4">
            <h2 class="font-bold mr-2">Support</h2>
            <a href="https://trakteer.id/{{ .Site.Params.trakteer }}" target="_blank">Trakteer</a>
          </div>
        {{ end }}

        {{ if .Params.comments }}
          <div>
            <h2>Comments</h2>
            {{ template "_internal/disqus.html" . }}
          </div>
        {{ end }}
      </div>

      <div>
        <div class="mb-4">
          <h2>Recent Posts</h2>
          {{ with .Site.GetPage "section" "blog" }}
            {{ range first 10 .Pages.ByPublishDate.Reverse }}
            <a href="{{ .Permalink }}">
              <h3>{{ .Title }}</h3>
            </a>
          {{ end }}
          {{ else }}
            <div class="text-center">
              <em>Currently no post yet</em>
            </div>
          {{ end }}
        </div>
        <div>
          <h2>All Tags</h2>
          <ul class="flex flex-wrap justify-start list-none pl-0">
            {{ $all_tags := .Site.Taxonomies.tags }} 
      
            {{ with $all_tags }}
              {{ range . }}
                <li class="m-1">
                  <a href="{{ .Page.Permalink }}">
                    {{ partial "badges/tag.html" .Page.Title }}
                  </a>
                </li>
              {{ end }}
            {{ else }}
            <div class="text-center">
              <em>Currently no tag yet</em>
            </div>
            {{ end }}
          </ul>
        </div>
      </div>
      
    </div>
  </section>
{{ end }}