<script defer>
  function checkDarkMode() {
    if (!("theme" in localStorage)) {
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
            document.getElementById("html").classList.add("dark");
        } else {
            document.getElementById("html").classList.remove("dark");
        }
    } else {
        if (localStorage.getItem("theme") === "dark") {
            document.getElementById("html").classList.add("dark");
        } else {
            document.getElementById("html").classList.remove("dark");
        }
    }
  }

  (function() {
    checkDarkMode();
  })()
</script>