<div class="flex flex-row justify-center">
  <ul class="flex flex-wrap list-none mb-0 pl-0">
    {{ range .Site.Data.social.social_icons }}
      {{- if isset $.Site.Author .id }}
        <li class="m-3">
<a href="{{ printf .url (index $.Site.Author .id) }}" class="text-slate-400 dark:text-slate-500 hover:text-indigo-600 dark:hover:text-indigo-400 transition-colors" title="{{ .title }}" target="_blank" rel="noopener">
            <i data-feather="{{ .icon }}"></i>
          </a>
        </li>
      {{- end -}}
    {{ end }}
  </ul>
</div>